{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hoja de trabajo 2</title>

    <link type="text/css" href='{% static "style.css" %}' rel=" stylesheet ">
</head>

<body>
    <div class="carne ">
        <main>
            <section>
                <div class="contenido ">
                    <img src="{% static 'fotop.jpg ' %} " alt="foto ">
                    <aside>
                        <h1>Gabriel Enrique Perez Meza</h1>
                        <p>201900221</p>
                    </aside>
                </div>
            </section>
        </main>
    </div>
</body>

</html>